In [2]:
import numpy as np
import pandas as pd

In [3]:
netflix=pd.read_csv('netflix_titles.csv',sep=',')
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre,desh
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Idea,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries,NaN
1,s2,TV Show,Blood & Water,Not Known,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,France
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",World,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Crime TV Shows,Algeria
3,s4,TV Show,Jailbirds New Orleans,Not Known,No Idea,World,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Docuseries,NaN
4,s5,TV Show,Kota Factory,Not Known,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,International TV Shows,South Korea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Cult Movies,NaN
8803,s8804,TV Show,Zombie Dumb,Not Known,No Idea,World,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Kids' TV,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Comedies,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Children & Family Movies,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,NaN

In [4]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'genre', 'desh'],
      dtype='object')

In [5]:
netflix.director=netflix.director.fillna('Not Known')
netflix.director

0       Kirsten Johnson
1             Not Known
2       Julien Leclercq
3             Not Known
4             Not Known
             ...
8802      David Fincher
8803          Not Known
8804    Ruben Fleischer
8805       Peter Hewitt
8806        Mozez Singh
Name: director, Length: 8807, dtype: object

In [6]:
netflix.cast=netflix.cast.fillna('No Idea')
netflix.cast

0                                                 No Idea
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                 No Idea
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                              No Idea
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [7]:
netflix.country=netflix.country.fillna('World')
netflix.country

0       United States
1        South Africa
2               World
3               World
4               India
            ...
8802    United States
8803            World
8804    United States
8805    United States
8806            India
Name: country, Length: 8807, dtype: object

In [8]:
netflix.date_added=netflix.date_added.bfill()
netflix.date_added

0       September 25, 2021
1       September 24, 2021
2       September 24, 2021
3       September 24, 2021
4       September 24, 2021
               ...
8802     November 20, 2019
8803          July 1, 2019
8804      November 1, 2019
8805      January 11, 2020
8806         March 2, 2019
Name: date_added, Length: 8807, dtype: object

In [9]:
netflix.rating=netflix.rating.ffill()
netflix.rating

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8807, dtype: object

In [10]:
netflix.duration=netflix.duration.ffill()
netflix.duration

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object

# 1. CONTENT MIX AND PORTFOLIO INSIGHTS

### 1.1 Distribution of Movies vs TV Shows.

In [11]:
netflix.show_id.size

8807

In [12]:
movies = netflix[netflix['type']=='Movie']
movies_pct=(movies.shape[0]/netflix.shape[0])*100
movies_pct

69.61507891449983

In [13]:
shows = netflix[netflix['type']=='TV Show']
shows_pct=(shows.shape[0]/netflix.shape[0])*100
shows_pct

30.38492108550017

### 1.2 Genre distribution from listed_in column.

In [14]:
genre_distribution = (netflix['listed_in'].str.split(', ').explode().value_counts())
genre_distribution

listed_in
International Movies            2752
Dramas                          2427
Comedies                        1674
International TV Shows          1351
Documentaries                    869
Action & Adventure               859
TV Dramas                        763
Independent Movies               756
Children & Family Movies         641
Romantic Movies                  616
TV Comedies                      581
Thrillers                        577
Crime TV Shows                   470
Kids' TV                         451
Docuseries                       395
Music & Musicals                 375
Romantic TV Shows                370
Horror Movies                    357
Stand-Up Comedy                  343
Reality TV                       255
British TV Shows                 253
Sci-Fi & Fantasy                 243
Sports Movies                    219
Anime Series                     176
Spanish-Language TV Shows        174
TV Action & Adventure            168
Korean TV Shows                  151
Classic Movies                   116
LGBTQ Movies                     102
TV Mysteries                      98
Science & Nature TV               92
TV Sci-Fi & Fantasy               84
TV Horror                         75
Cult Movies                       71
Anime Features                    71
Teen TV Shows                     69
Faith & Spirituality              65
TV Thrillers                      57
Movies                            57
Stand-Up Comedy & Talk Shows      56
Classic & Cult TV                 28
TV Shows                          16
Name: count, dtype: int64

In [15]:
movie=pd.DataFrame(genre_distribution)
movie

                              count
listed_in
International Movies           2752
Dramas                         2427
Comedies                       1674
International TV Shows         1351
Documentaries                   869
Action & Adventure              859
TV Dramas                       763
Independent Movies              756
Children & Family Movies        641
Romantic Movies                 616
TV Comedies                     581
Thrillers                       577
Crime TV Shows                  470
Kids' TV                        451
Docuseries                      395
Music & Musicals                375
Romantic TV Shows               370
Horror Movies                   357
Stand-Up Comedy                 343
Reality TV                      255
British TV Shows                253
Sci-Fi & Fantasy                243
Sports Movies                   219
Anime Series                    176
Spanish-Language TV Shows       174
TV Action & Adventure           168
Korean TV Shows                 151
Classic Movies                  116
LGBTQ Movies                    102
TV Mysteries                     98
Science & Nature TV              92
TV Sci-Fi & Fantasy              84
TV Horror                        75
Cult Movies                      71
Anime Features                   71
Teen TV Shows                    69
Faith & Spirituality             65
TV Thrillers                     57
Movies                           57
Stand-Up Comedy & Talk Shows     56
Classic & Cult TV                28
TV Shows                         16

In [16]:
movie = movie.rename_axis("Genre").rename(columns={"count": "Total_Titles"})
movie

                              Total_Titles
Genre
International Movies                  2752
Dramas                                2427
Comedies                              1674
International TV Shows                1351
Documentaries                          869
Action & Adventure                     859
TV Dramas                              763
Independent Movies                     756
Children & Family Movies               641
Romantic Movies                        616
TV Comedies                            581
Thrillers                              577
Crime TV Shows                         470
Kids' TV                               451
Docuseries                             395
Music & Musicals                       375
Romantic TV Shows                      370
Horror Movies                          357
Stand-Up Comedy                        343
Reality TV                             255
British TV Shows                       253
Sci-Fi & Fantasy                       243
Sports Movies                          219
Anime Series                           176
Spanish-Language TV Shows              174
TV Action & Adventure                  168
Korean TV Shows                        151
Classic Movies                         116
LGBTQ Movies                           102
TV Mysteries                            98
Science & Nature TV                     92
TV Sci-Fi & Fantasy                     84
TV Horror                               75
Cult Movies                             71
Anime Features                          71
Teen TV Shows                           69
Faith & Spirituality                    65
TV Thrillers                            57
Movies                                  57
Stand-Up Comedy & Talk Shows            56
Classic & Cult TV                       28
TV Shows                                16

### 1.3 Genre growth by release_year.

In [17]:
genre_growth = netflix.groupby(['release_year','listed_in']).size().pct_change()
genre_growth

release_year  listed_in
1925          TV Shows                          NaN
1942          Classic Movies, Documentaries     1.0
1943          Classic Movies, Documentaries    -0.5
              Documentaries                     1.0
1944          Classic Movies, Documentaries     0.5
                                               ...
2021          TV Dramas, TV Sci-Fi & Fantasy    0.0
              TV Dramas, Teen TV Shows          0.0
              TV Horror, Teen TV Shows          0.0
              TV Shows                          1.0
              Thrillers                         1.0
Length: 2806, dtype: float64

In [18]:
netflix['genre']=netflix['listed_in'].str.split(', ',expand=True)[0]
netflix['genre']

0                  Documentaries
1         International TV Shows
2                 Crime TV Shows
3                     Docuseries
4         International TV Shows
                  ...
8802                 Cult Movies
8803                    Kids' TV
8804                    Comedies
8805    Children & Family Movies
8806                      Dramas
Name: genre, Length: 8807, dtype: object

In [19]:
netflix['genre'] = netflix['genre'].str.strip()

In [20]:
print(netflix[['listed_in', 'genre']].head())

                                           listed_in                   genre
0                                      Documentaries           Documentaries
1    International TV Shows, TV Dramas, TV Mysteries  International TV Shows
2  Crime TV Shows, International TV Shows, TV Act...          Crime TV Shows
3                             Docuseries, Reality TV              Docuseries
4  International TV Shows, Romantic TV Shows, TV ...  International TV Shows

In [21]:
netflix.to_csv('netflix_titles.csv',index=False)

In [22]:
genre_change = netflix.groupby(['release_year','genre']).size().pct_change()
genre_change

release_year  genre
1925          TV Shows               NaN
1942          Classic Movies    1.000000
1943          Classic Movies   -0.500000
              Documentaries     1.000000
1944          Classic Movies    0.500000
                                  ...
2021          TV Comedies       0.545455
              TV Dramas        -0.647059
              TV Horror        -0.833333
              TV Shows          1.000000
              Thrillers         1.000000
Length: 674, dtype: float64

In [23]:
genre_df = genre_change.reset_index(name='change')
genre_df

     release_year           genre    change
0            1925        TV Shows       NaN
1            1942  Classic Movies  1.000000
2            1943  Classic Movies -0.500000
3            1943   Documentaries  1.000000
4            1944  Classic Movies  0.500000
..            ...             ...       ...
669          2021     TV Comedies  0.545455
670          2021       TV Dramas -0.647059
671          2021       TV Horror -0.833333
672          2021        TV Shows  1.000000
673          2021       Thrillers  1.000000

[674 rows x 3 columns]

### 1.4 Identification of underrepresented genres.

In [24]:
genre_df[genre_df['change']<-0.5].value_counts(ascending=False)

release_year  genre                         change
1945          TV Shows                      -0.666667    1
1956          Action & Adventure            -0.666667    1
1959          Dramas                        -0.666667    1
1968          Action & Adventure            -0.666667    1
1972          Action & Adventure            -0.666667    1
                                                        ..
2021          Movies                        -0.897436    1
              Romantic TV Shows             -0.800000    1
              Stand-Up Comedy & Talk Shows  -0.750000    1
              TV Dramas                     -0.647059    1
              TV Horror                     -0.833333    1
Name: count, Length: 208, dtype: int64

In [25]:
underrep=genre_df[genre_df['change']>-0.50].sort_values(by='change',ascending=True)
underrep

     release_year           genre      change
569          2018  Crime TV Shows   -0.485507
645          2020       TV Dramas   -0.480000
469          2014          Movies   -0.466667
500          2015       TV Dramas   -0.428571
578          2018        Kids' TV   -0.425532
..            ...             ...         ...
484          2015        Comedies   75.000000
510          2016        Comedies  115.000000
571          2018   Documentaries  116.000000
537          2017        Comedies  132.000000
568          2018        Comedies  137.000000

[439 rows x 3 columns]

### 1.5 Duration patterns: average movie duration, TV show season count, duration buckets.

### 1.5.1 Avg Movie Duration

In [26]:
movie_df=netflix[netflix['type']=='Movie']
movie_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre,desh
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Idea,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries,NaN
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",World,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,Children & Family Movies,Argentina
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",Dramas,Argentina
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,Comedies,Argentina
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,Dramas,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,Dramas,NaN
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Cult Movies,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Comedies,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Children & Family Movies,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,NaN

In [27]:
movie_df['duration'] = movie_df['duration'].str.replace(r'\D', '', regex=True).astype(int)
movie_df['duration']

C:\Users\HP\AppData\Local\Temp\ipykernel_28240\3387235306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['duration'] = movie_df['duration'].str.replace(r'\D', '', regex=True).astype(int)

0        90
6        91
7       125
9       104
12      127
       ...
8801     96
8802    158
8804     88
8805     88
8806    111
Name: duration, Length: 6131, dtype: int64

In [28]:
movie_avg = movie_df['duration'].mean()
movie_avg

np.float64(99.55325395530909)

### 1.5.2 TV show season count

In [29]:
show_df=netflix[netflix['type'].str.contains('TV Show')]
show_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre,desh
1,s2,TV Show,Blood & Water,Not Known,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,France
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",World,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Crime TV Shows,Algeria
3,s4,TV Show,Jailbirds New Orleans,Not Known,No Idea,World,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Docuseries,NaN
4,s5,TV Show,Kota Factory,Not Known,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,International TV Shows,South Korea
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",World,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,TV Dramas,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,Not Known,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,Anime Series,NaN
8796,s8797,TV Show,Yunus Emre,Not Known,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves...",International TV Shows,NaN
8797,s8798,TV Show,Zak Storm,Not Known,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,Kids' TV,NaN
8800,s8801,TV Show,Zindagi Gulzar Hai,Not Known,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",International TV Shows,NaN
8803,s8804,TV Show,Zombie Dumb,Not Known,No Idea,World,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Kids' TV,NaN

In [30]:
show_df['duration']=show_df['duration'].str.replace(r'\D','',regex=True).astype(int)
show_df['duration']

C:\Users\HP\AppData\Local\Temp\ipykernel_28240\3040242929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_df['duration']=show_df['duration'].str.replace(r'\D','',regex=True).astype(int)

1       2
2       1
3       1
4       2
5       1
       ..
8795    2
8796    2
8797    3
8800    1
8803    2
Name: duration, Length: 2676, dtype: int64

In [31]:
show_sum = show_df['duration'].sum()
show_sum

np.int64(4723)

# 2. REGIONAL AND GLOBAL EXPANSION INSIGHTS

### 2.1 Top content-producing countries

In [32]:
content_prod= netflix['country'].value_counts().head(10)
content_prod

country
United States     2818
India              972
World              831
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Name: count, dtype: int64

### 2.2 Growth of content from India, Korea, Japan, Europe, etc.

In [33]:
content_change = netflix.groupby('country')['release_year'].value_counts().groupby(level=0).pct_change().fillna(0)
content_change = content_change.reset_index(name='content_change')
content_change

                country  release_year  content_change
0     , France, Algeria          2014        0.000000
1         , South Korea          2021        0.000000
2             Argentina          2020        0.000000
3             Argentina          2019       -0.083333
4             Argentina          2018       -0.090909
...                 ...           ...             ...
1788              World          2002        0.000000
1789              World          2005        0.000000
1790              World          2006        0.000000
1791              World          2007        0.000000
1792           Zimbabwe          2017        0.000000

[1793 rows x 3 columns]

In [34]:
content_df= content_change.assign(country=content_change['country'].str.split(', ')).explode('country')
content_df

          country  release_year  content_change
0                          2014             0.0
0          France          2014             0.0
0         Algeria          2014             0.0
1                          2021             0.0
1     South Korea          2021             0.0
...           ...           ...             ...
1788        World          2002             0.0
1789        World          2005             0.0
1790        World          2006             0.0
1791        World          2007             0.0
1792     Zimbabwe          2017             0.0

[3549 rows x 3 columns]

In [35]:
content_df['country'] = content_df['country'].str.strip()
content_df

          country  release_year  content_change
0                          2014             0.0
0          France          2014             0.0
0         Algeria          2014             0.0
1                          2021             0.0
1     South Korea          2021             0.0
...           ...           ...             ...
1788        World          2002             0.0
1789        World          2005             0.0
1790        World          2006             0.0
1791        World          2007             0.0
1792     Zimbabwe          2017             0.0

[3549 rows x 3 columns]

In [36]:
netflix = netflix.reset_index(drop=True)
content_df = content_df.reset_index(drop=True)

netflix['country'] = content_df['country']
netflix['country'] = content_df['country'].reset_index(drop=True)

In [37]:
netflix.to_csv('netflix.csv', index=False)

In [38]:
content_change=(content_df.groupby('country')['release_year'].value_counts().groupby(level=0).pct_change().fillna(0))
content_change

country      release_year
             2014            0.0
             2021            0.0
Afghanistan  2016            0.0
Albania      2018            0.0
Algeria      1979            0.0
                            ...
World        2019            0.0
             2020            0.0
             2021            0.0
Zimbabwe     2017            0.0
             2014           -0.5
Name: count, Length: 1142, dtype: float64

In [39]:
content_growth = content_change.reset_index(name='change').sort_values(by='change',ascending=True)
content_growth

           country  release_year    change
749          Qatar          2014 -0.750000
537         Jordan          2012 -0.666667
73         Belgium          1991 -0.666667
811   South Africa          2018 -0.545455
462        Ireland          1989 -0.500000
...            ...           ...       ...
1138         World          2020  0.000000
1139         World          2021  0.000000
1140      Zimbabwe          2017  0.000000
1                           2021  0.000000
0                           2014  0.000000

[1142 rows x 3 columns]

In [40]:
content_growth = (netflix.groupby(['release_year', 'country']).size().pct_change())

In [41]:
content_growth_df = content_growth.reset_index(name='growth').sort_values(['country', 'growth'])
content_growth_df

     release_year      country     growth
693          2020               -0.960000
777          2021                0.000000
778          2021  Afghanistan   0.000000
519          2017      Albania  -0.500000
473          2016      Algeria  -0.960000
..            ...          ...        ...
234          2006        World  -0.666667
612          2018        World   5.000000
692          2019        World  11.500000
613          2018     Zimbabwe  -0.666667
776          2020     Zimbabwe   0.000000

[854 rows x 3 columns]

# 3. TALENT STRATEGY (DIRECTORS AND CAST)

### 3.1 Most frequent directors

In [45]:
freq_director=netflix['director'].value_counts().drop('Not Known')
freq_director

director
Rajiv Chilaka                             19
Raúl Campos, Jan Suter                    18
Suhas Kadav                               16
Marcus Raboy                              16
Jay Karas                                 14
                                          ..
Milla Harrison-Hansley, Alicky Sussman     1
Drew Stone                                 1
Benjamin Turner                            1
S. Shankar                                 1
Peter Hewitt                               1
Name: count, Length: 4528, dtype: int64

In [94]:
most_freq_director_df = freq_director.to_frame().reset_index()

In [95]:
most_freq_director_df.columns = ['Director', 'count']
most_freq_director_df

                                    Director  count
0                              Rajiv Chilaka     19
1                     Raúl Campos, Jan Suter     18
2                                Suhas Kadav     16
3                               Marcus Raboy     16
4                                  Jay Karas     14
...                                      ...    ...
4523  Milla Harrison-Hansley, Alicky Sussman      1
4524                              Drew Stone      1
4525                         Benjamin Turner      1
4526                              S. Shankar      1
4527                            Peter Hewitt      1

[4528 rows x 2 columns]

### 3.2 Most frequent actor

In [96]:
actors = (netflix.assign(actor=netflix['cast'].str.split(', ')).explode('actor'))
actors

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre,actor
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Idea,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentaries,No Idea
1,s2,TV Show,Blood & Water,Not Known,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,Ama Qamata
1,s2,TV Show,Blood & Water,Not Known,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,Khosi Ngema
1,s2,TV Show,Blood & Water,Not Known,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,Gail Mabalane
1,s2,TV Show,Blood & Water,Not Known,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",International TV Shows,Thabang Molaba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,Manish Chaudhary
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,Meghna Malik
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,Malkeet Rauni
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,Anita Shabdish
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Dramas,Chittaranjan Tripathy

In [97]:
actors_df = actors[(actors['actor'].str.strip() != '') & (actors['actor'].str.strip() != 'No Idea')]
most_freq_actor = actors_df['actor'].value_counts().head(10)
most_freq_actor

actor
Anupam Kher         43
Shah Rukh Khan      35
Julie Tejwani       33
Takahiro Sakurai    32
Naseeruddin Shah    32
Rupa Bhimani        31
Om Puri             30
Akshay Kumar        30
Yuki Kaji           29
Amitabh Bachchan    28
Name: count, dtype: int64

In [98]:
most_freq_actor_df = most_freq_actor.to_frame().reset_index()

In [99]:
most_freq_actor_df.columns = ['actor', 'counts']
most_freq_actor_df

              actor  counts
0       Anupam Kher      43
1    Shah Rukh Khan      35
2     Julie Tejwani      33
3  Takahiro Sakurai      32
4  Naseeruddin Shah      32
5      Rupa Bhimani      31
6           Om Puri      30
7      Akshay Kumar      30
8         Yuki Kaji      29
9  Amitabh Bachchan      28

In [100]:
combo = pd.merge(most_freq_actor_df,most_freq_director_df, how='cross')
combo

                  actor  counts                                Director  count
0           Anupam Kher      43                           Rajiv Chilaka     19
1           Anupam Kher      43                  Raúl Campos, Jan Suter     18
2           Anupam Kher      43                             Suhas Kadav     16
3           Anupam Kher      43                            Marcus Raboy     16
4           Anupam Kher      43                               Jay Karas     14
...                 ...     ...                                     ...    ...
45275  Amitabh Bachchan      28  Milla Harrison-Hansley, Alicky Sussman      1
45276  Amitabh Bachchan      28                              Drew Stone      1
45277  Amitabh Bachchan      28                         Benjamin Turner      1
45278  Amitabh Bachchan      28                              S. Shankar      1
45279  Amitabh Bachchan      28                            Peter Hewitt      1

[45280 rows x 4 columns]

In [101]:
combination = (netflix.groupby(['cast', 'director']).size().sort_values(ascending=False)).to_frame()
combination

                                                                     0
cast                                               director
No Idea                                            Not Known       352
David Attenborough                                 Not Known        15
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jign... Rajiv Chilaka    12
David Spade, London Hughes, Fortune Feimster       Not Known         6
Michela Luci, Jamie Watson, Eric Peterson, Anna... Not Known         5
...                                                                ...
Zoey Deutch, Glen Powell, Lucy Liu, Taye Diggs,... Claire Scanlon    1
Zoey Deutch, Halston Sage, Erica Tremblay, Loga... Ry Russo-Young    1
Zoey Deutch, Lucy Fry, Danila Kozlovsky, Gabrie... Mark Waters       1
Zooey Deschanel, Jake Johnson, Max Greenfield, ... Not Known         1
'Najite Dede, Jude Chukwuka, Taiwo Arimoro, Ode... Not Known         1

[8259 rows x 1 columns]

# 4. RATING AND CERTIFICATION ANALYSIS

### 4.1 Distribution of ratings (TV-MA, PG, R, etc.).

In [102]:
rating_dist=netflix['rating'].value_counts()
rating_dist

rating
TV-MA       3208
TV-14       2161
TV-PG        863
R            801
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

### 4.2 Ratings by country.

In [103]:
netflix['country']=netflix['country'].str.strip()
netflix['country']

0       United States
1        South Africa
2               World
3               World
4               India
            ...
8802    United States
8803            World
8804    United States
8805    United States
8806            India
Name: country, Length: 8807, dtype: object

In [104]:
rating_country=netflix.groupby(['rating','country']).size().sort_values(ascending=False).head(10)
rating_country

rating  country
TV-MA   United States     928
TV-14   India             550
R       United States     440
TV-14   United States     406
PG-13   United States     289
TV-MA   World             276
TV-PG   United States     251
TV-MA   India             248
TV-14   World             230
TV-MA   United Kingdom    177
dtype: int64

### Genre vs Country

In [105]:
genre_country=netflix.groupby(['country','type']).size().sort_values(ascending=False).head(10)
genre_country

country         type
United States   Movie      2058
India           Movie       893
United States   TV Show     760
World           Movie       440
                TV Show     391
United Kingdom  TV Show     213
                Movie       206
Japan           TV Show     169
South Korea     TV Show     158
Canada          Movie       122
dtype: int64

In [131]:
import json

# Load the JSON data
input_file = 'world.json'

with open(input_file, 'r') as f:
    data = json.load(f)

# --- Step 1: Target the 'land' geometry list ---
land_geometries = data['objects']['land']['geometries']
initial_land_count = len(land_geometries)

# --- Step 2: Remove the last large feature (Antarctica) ---
# Based on the file structure (where Antarctica is drawn as the last large polygon),
# removing the last element in the list is often the simplest fix.
if land_geometries:
    # Delete the last item in the list of land geometries
    del land_geometries[-1] 

# --- Step 3: Save the modified data to a new file ---
output_file = 'worlds.json'
with open(output_file, 'w') as f:
    json.dump(data, f, indent=2)

final_land_count = len(data['objects']['land']['geometries'])

print(f"Original number of land features: {initial_land_count}")
print(f"Removed 1 feature (Antarctica).")
print(f"New number of land features: {final_land_count}")
print(f"Updated data saved to: '{output_file}'")

Original number of land features: 1
Removed 1 feature (Antarctica).
New number of land features: 0
Updated data saved to: 'worlds.json'